<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-restaurant-heading" data-cy="RestaurantCreateUpdateHeading" *ngIf="!editForm.get('id')!.value">Ajouter un Restaurant</h2>
      <h2 id="jhi-restaurant-heading" data-cy="RestaurantCreateUpdateHeading" *ngIf="editForm.get('id')!.value">Modifier Restaurant</h2>

      <div>
        <div class="row mb-3">
          <label class="form-label" for="field_nomRestaurant">Nom</label>
          <input
            type="text"
            class="form-control"
            name="nomRestaurant"
            id="field_nomRestaurant"
            data-cy="nomRestaurant"
            formControlName="nomRestaurant"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_adresseRestaurant">Adresse</label>
          <input
            type="text"
            class="form-control"
            name="adresseRestaurant"
            id="field_adresseRestaurant"
            data-cy="adresseRestaurant"
            formControlName="adresseRestaurant"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_numRestaurant">Numero</label>
          <input
            type="text"
            class="form-control"
            name="numRestaurant"
            id="field_numRestaurant"
            data-cy="numRestaurant"
            formControlName="numRestaurant"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_dateOuverture">Heure Ouverture</label>
          <div class="d-flex">
            <input
              id="field_dateOuverture"
              data-cy="dateOuverture"
              type="time"
              class="form-control"
              name="dateOuverture"
              formControlName="dateOuverture"
              placeholder="HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_dateFermiture">Heure Fermiture</label>
          <div class="d-flex">
            <input
              id="field_dateFermiture"
              data-cy="dateFermiture"
              type="time"
              class="form-control"
              name="dateFermiture"
              formControlName="dateFermiture"
              placeholder="HH:mm"
            />
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-success text-white"
        >
          <fa-icon icon="save"></fa-icon>
        </button>
      </div>
    </form>
  </div>
</div>
