<!-- <div>
  <div class="d-flex justify-content-center">
    <div class="col-md-5">
      <h1 data-cy="registerTitle" class="text-center mb-4">Registration</h1>

      <div class="alert alert-success" *ngIf="success"><strong>Registration saved!</strong> Please check your email for confirmation.</div>

      <div class="alert alert-danger" *ngIf="error"><strong>Registration failed!</strong> Please try again later.</div>

      <div class="alert alert-danger" *ngIf="errorUserExists">
        <strong>Login name already registered!</strong> Please choose another one.
      </div>

      <div class="alert alert-danger" *ngIf="errorEmailExists"><strong>Email is already in use!</strong> Please choose another one.</div>

      <div class="alert alert-danger" *ngIf="doNotMatch">The password and its confirmation do not match!</div>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <div class="col-md-8">
      <form name="form" role="form" (ngSubmit)="register()" [formGroup]="registerForm" *ngIf="!success">
        <div class="mb-3">
          <input
            type="text"
            class="form__input"
            id="login"
            name="login"
            placeholder="Your username"
            formControlName="login"
            data-cy="username"
            #login
          />

          <div *ngIf="registerForm.get('login')!.invalid && (registerForm.get('login')!.dirty || registerForm.get('login')!.touched)">
            <small class="form-text text-danger" *ngIf="registerForm.get('login')?.errors?.required"> Your username is required. </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('login')?.errors?.minlength">
              Your username is required to be at least 1 character.
            </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('login')?.errors?.maxlength">
              Your username cannot be longer than 50 characters.
            </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('login')?.errors?.pattern">
              Your username can only contain letters and digits.
            </small>
          </div>
        </div>
        <div class="mb-3">
          <input
            type="text"
            class="form__input"
            id="firstName"
            name="firstName"
            placeholder="Your username"
            formControlName="firstName"
            data-cy="username"
            #firstName
          />

          <div
            *ngIf="
              registerForm.get('firstName')!.invalid && (registerForm.get('firstName')!.dirty || registerForm.get('firstName')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="registerForm.get('firstName')?.errors?.required">
              Your username is required.
            </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('firstName')?.errors?.minlength">
              Your username is required to be at least 1 character.
            </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('firstName')?.errors?.maxlength">
              Your username cannot be longer than 50 characters.
            </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('firstName')?.errors?.pattern">
              Your username can only contain letters and digits.
            </small>
          </div>
        </div>
        <div class="mb-3">
          <input
            type="text"
            class="form__input"
            id="lastName"
            name="lastName"
            placeholder="Your username"
            formControlName="lastName"
            data-cy="username"
            #lastName
          />

          <div
            *ngIf="registerForm.get('lastName')!.invalid && (registerForm.get('lastName')!.dirty || registerForm.get('lastName')!.touched)"
          >
            <small class="form-text text-danger" *ngIf="registerForm.get('lastName')?.errors?.required"> Your username is required. </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('lastName')?.errors?.minlength">
              Your username is required to be at least 1 character.
            </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('lastName')?.errors?.maxlength">
              Your username cannot be longer than 50 characters.
            </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('lastName')?.errors?.pattern">
              Your username can only contain letters and digits.
            </small>
          </div>
        </div>

        <div class="mb-3">
          <input
            type="email"
            class="form__input"
            id="email"
            name="email"
            placeholder="Your email"
            formControlName="email"
            data-cy="email"
          />

          <div *ngIf="registerForm.get('email')!.invalid && (registerForm.get('email')!.dirty || registerForm.get('email')!.touched)">
            <small class="form-text text-danger" *ngIf="registerForm.get('email')?.errors?.required"> Your email is required. </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('email')?.errors?.invalid"> Your email is invalid. </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('email')?.errors?.minlength">
              Your email is required to be at least 5 characters.
            </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('email')?.errors?.maxlength">
              Your email cannot be longer than 100 characters.
            </small>
          </div>
        </div>

        <div class="mb-3">
          <input
            type="password"
            class="form__input"
            id="password"
            name="password"
            placeholder="New password"
            formControlName="password"
            data-cy="firstPassword"
          />

          <div
            *ngIf="registerForm.get('password')!.invalid && (registerForm.get('password')!.dirty || registerForm.get('password')!.touched)"
          >
            <small class="form-text text-danger" *ngIf="registerForm.get('password')?.errors?.required"> Your password is required. </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('password')?.errors?.minlength">
              Your password is required to be at least 4 characters.
            </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('password')?.errors?.maxlength">
              Your password cannot be longer than 50 characters.
            </small>
          </div>

          <jhi-password-strength-bar [passwordToCheck]="registerForm.get('password')!.value"></jhi-password-strength-bar>
        </div>

        <div class="mb-3">
          <input
            type="password"
            class="form__input"
            id="confirmPassword"
            name="confirmPassword"
            placeholder="Confirm the new password"
            formControlName="confirmPassword"
            data-cy="secondPassword"
          />

          <div
            *ngIf="
              registerForm.get('confirmPassword')!.invalid &&
              (registerForm.get('confirmPassword')!.dirty || registerForm.get('confirmPassword')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="registerForm.get('confirmPassword')?.errors?.required">
              Your confirmation password is required.
            </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('confirmPassword')?.errors?.minlength">
              Your confirmation password is required to be at least 4 characters.
            </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('confirmPassword')?.errors?.maxlength">
              Your confirmation password cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary" data-cy="submit">Register</button>
      <div class="mt-3 alert" style="margin-left: 39%;">
        <a class="alert-link" routerLink="/login">sign in</a> </div>
      </form>

    </div>
  </div>
</div> -->

<div class="container-fluid bg-white">
  <div class="row main-content text-center">
    <div class="col-md-4 text-center company__info">
      <div class="delivery-header"></div>
    </div>
    <div class="col-md-8 col-xs-12 col-sm-12 login_form">
      <div class="container-fluid">
        <div class="row">
          <h2>Connexion</h2>
        </div>
        <div class="row">
          <form name="form" role="form" (ngSubmit)="register()" [formGroup]="registerForm" *ngIf="!success">
            <div class="mb-3">
              <input
                type="text"
                class="form__input"
                id="login"
                name="login"
                placeholder="Your username"
                formControlName="login"
                data-cy="username"
                #login
              />

              <div *ngIf="registerForm.get('login')!.invalid && (registerForm.get('login')!.dirty || registerForm.get('login')!.touched)">
                <small class="form-text text-danger" *ngIf="registerForm.get('login')?.errors?.required">
                  Your username is required.
                </small>

                <small class="form-text text-danger" *ngIf="registerForm.get('login')?.errors?.minlength">
                  Your username is required to be at least 1 character.
                </small>

                <small class="form-text text-danger" *ngIf="registerForm.get('login')?.errors?.maxlength">
                  Your username cannot be longer than 50 characters.
                </small>

                <small class="form-text text-danger" *ngIf="registerForm.get('login')?.errors?.pattern">
                  Your username can only contain letters and digits.
                </small>
              </div>
            </div>
            <div class="mb-3">
              <!-- <label class="form-label" for="firstName">First Name</label> -->
              <input
                type="text"
                class="form__input"
                id="firstName"
                name="firstName"
                placeholder="Your username"
                formControlName="firstName"
                data-cy="username"
                #firstName
              />

              <div
                *ngIf="
                  registerForm.get('firstName')!.invalid && (registerForm.get('firstName')!.dirty || registerForm.get('firstName')!.touched)
                "
              >
                <small class="form-text text-danger" *ngIf="registerForm.get('firstName')?.errors?.required">
                  Your username is required.
                </small>

                <small class="form-text text-danger" *ngIf="registerForm.get('firstName')?.errors?.minlength">
                  Your username is required to be at least 1 character.
                </small>

                <small class="form-text text-danger" *ngIf="registerForm.get('firstName')?.errors?.maxlength">
                  Your username cannot be longer than 50 characters.
                </small>

                <small class="form-text text-danger" *ngIf="registerForm.get('firstName')?.errors?.pattern">
                  Your username can only contain letters and digits.
                </small>
              </div>
            </div>
            <div class="mb-3">
              <!-- <label class="form-label" for="lastName">Last Name</label> -->
              <input
                type="text"
                class="form__input"
                id="lastName"
                name="lastName"
                placeholder="Your username"
                formControlName="lastName"
                data-cy="username"
                #lastName
              />

              <div
                *ngIf="
                  registerForm.get('lastName')!.invalid && (registerForm.get('lastName')!.dirty || registerForm.get('lastName')!.touched)
                "
              >
                <small class="form-text text-danger" *ngIf="registerForm.get('lastName')?.errors?.required">
                  Your username is required.
                </small>

                <small class="form-text text-danger" *ngIf="registerForm.get('lastName')?.errors?.minlength">
                  Your username is required to be at least 1 character.
                </small>

                <small class="form-text text-danger" *ngIf="registerForm.get('lastName')?.errors?.maxlength">
                  Your username cannot be longer than 50 characters.
                </small>

                <small class="form-text text-danger" *ngIf="registerForm.get('lastName')?.errors?.pattern">
                  Your username can only contain letters and digits.
                </small>
              </div>
            </div>

            <div class="mb-3">
              <!-- <label class="form-label" for="email">Email</label> -->
              <input
                type="email"
                class="form__input"
                id="email"
                name="email"
                placeholder="Your email"
                formControlName="email"
                data-cy="email"
              />

              <div *ngIf="registerForm.get('email')!.invalid && (registerForm.get('email')!.dirty || registerForm.get('email')!.touched)">
                <small class="form-text text-danger" *ngIf="registerForm.get('email')?.errors?.required"> Your email is required. </small>

                <small class="form-text text-danger" *ngIf="registerForm.get('email')?.errors?.invalid"> Your email is invalid. </small>

                <small class="form-text text-danger" *ngIf="registerForm.get('email')?.errors?.minlength">
                  Your email is required to be at least 5 characters.
                </small>

                <small class="form-text text-danger" *ngIf="registerForm.get('email')?.errors?.maxlength">
                  Your email cannot be longer than 100 characters.
                </small>
              </div>
            </div>

            <div class="mb-3">
              <!-- <label class="form-label" for="password">New password</label> -->
              <input
                type="password"
                class="form__input"
                id="password"
                name="password"
                placeholder="New password"
                formControlName="password"
                data-cy="firstPassword"
              />

              <div
                *ngIf="
                  registerForm.get('password')!.invalid && (registerForm.get('password')!.dirty || registerForm.get('password')!.touched)
                "
              >
                <small class="form-text text-danger" *ngIf="registerForm.get('password')?.errors?.required">
                  Your password is required.
                </small>

                <small class="form-text text-danger" *ngIf="registerForm.get('password')?.errors?.minlength">
                  Your password is required to be at least 4 characters.
                </small>

                <small class="form-text text-danger" *ngIf="registerForm.get('password')?.errors?.maxlength">
                  Your password cannot be longer than 50 characters.
                </small>
              </div>

              <jhi-password-strength-bar [passwordToCheck]="registerForm.get('password')!.value"></jhi-password-strength-bar>
            </div>

            <div class="mb-3">
              <!-- <label class="form-label" for="confirmPassword">New password confirmation</label> -->
              <input
                type="password"
                class="form__input"
                id="confirmPassword"
                name="confirmPassword"
                placeholder="Confirm the new password"
                formControlName="confirmPassword"
                data-cy="secondPassword"
              />

              <div
                *ngIf="
                  registerForm.get('confirmPassword')!.invalid &&
                  (registerForm.get('confirmPassword')!.dirty || registerForm.get('confirmPassword')!.touched)
                "
              >
                <small class="form-text text-danger" *ngIf="registerForm.get('confirmPassword')?.errors?.required">
                  Your confirmation password is required.
                </small>

                <small class="form-text text-danger" *ngIf="registerForm.get('confirmPassword')?.errors?.minlength">
                  Your confirmation password is required to be at least 4 characters.
                </small>

                <small class="form-text text-danger" *ngIf="registerForm.get('confirmPassword')?.errors?.maxlength">
                  Your confirmation password cannot be longer than 50 characters.
                </small>
              </div>
            </div>

            <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary" data-cy="submit">Register</button>
            <div class="mt-3 alert" style="margin-left: 39%">
              <a class="alert-link" routerLink="/login">sign in</a>
            </div>
          </form>
        </div>
        <div class="row" style="margin-left: 3em">
          <p>Vous n’avez pas de compte? <a class="alert-link" routerLink="/account/register"> Inscrivez-vous ici</a></p>
        </div>
        <div class="mt-3 alert">
          <a class="alert-link" routerLink="/account/reset/request" data-cy="forgetYourPasswordSelector">
            Tu as oublié ton mot de passe ?</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
