<div>
  <div class="d-flex justify-content-center">
    <div class="col-md-8">
      <h1 data-cy="registerTitle">S'inscrire</h1>

      <div class="alert alert-success" *ngIf="success">
        <strong>Inscription enregistrée!</strong> Veuillez vérifier votre Email de confirmation.
      </div>

      <div class="alert alert-danger" *ngIf="error"><strong>L’inscription a échoué!</strong> Veuillez réessayer plus tard.</div>

      <div class="alert alert-danger" *ngIf="errorUserExists"><strong>Login déjà enregistré !</strong> Veuillez en choisir un autre.</div>

      <div class="alert alert-danger" *ngIf="errorEmailExists"><strong>Email est déjà utilisé!</strong> veuillez en choisir un autre.</div>

      <div class="alert alert-danger" *ngIf="doNotMatch">Le mot de passe et sa confirmation ne correspondent pas !</div>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <div class="col-md-8">
      <form name="form" role="form" (ngSubmit)="register()" [formGroup]="registerForm" *ngIf="!success">
        <div class="mb-3">
          <label class="form-label" for="login">Nom d'utilisateur</label>
          <input
            type="text"
            class="form-control"
            id="login"
            name="login"
            placeholder="votre nom d'utilisateur"
            formControlName="login"
            data-cy="username"
            #login
          />

          <div *ngIf="registerForm.get('login')!.invalid && (registerForm.get('login')!.dirty || registerForm.get('login')!.touched)">
            <small class="form-text text-danger" *ngIf="registerForm.get('login')?.errors?.required"
              >Votre nom d’utilisateur est obligatoire.
            </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('login')?.errors?.minlength">
              Votre nom d’utilisateur doit comporter au moins 1 caractère.
            </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('login')?.errors?.maxlength">
              Votre nom d’utilisateur ne peut pas dépasser 50 caractères.
            </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('login')?.errors?.pattern">
              Votre nom d’utilisateur ne peut contenir que des lettres et des chiffres.
            </small>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label" for="firstName">Nom</label>
          <input
            type="text"
            class="form-control"
            id="firstName"
            name="firstName"
            placeholder="votre nom"
            formControlName="firstName"
            data-cy="username"
            #firstName
          />

          <div
            *ngIf="
              registerForm.get('firstName')!.invalid && (registerForm.get('firstName')!.dirty || registerForm.get('firstName')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="registerForm.get('firstName')?.errors?.required">
              Votre nom est obligatoire.
            </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('firstName')?.errors?.minlength">
              Votre nom d’utilisateur doit comporter au moins 1 caractère.
            </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('firstName')?.errors?.maxlength">
              Votre nom d’utilisateur ne peut pas dépasser 50 caractères.
            </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('firstName')?.errors?.pattern">
              Votre nom d’utilisateur ne peut contenir que des lettres et des chiffres.
            </small>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label" for="lastName">Prénom</label>
          <input
            type="text"
            class="form-control"
            id="lastName"
            name="lastName"
            placeholder="votre prénom"
            formControlName="lastName"
            data-cy="username"
            #lastName
          />

          <div
            *ngIf="registerForm.get('lastName')!.invalid && (registerForm.get('lastName')!.dirty || registerForm.get('lastName')!.touched)"
          >
            <small class="form-text text-danger" *ngIf="registerForm.get('lastName')?.errors?.required">
              Votre prénom est obligatoire.
            </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('lastName')?.errors?.minlength">
              Votre nom d’utilisateur doit comporter au moins 1 caractère.
            </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('lastName')?.errors?.maxlength">
              Votre nom d’utilisateur ne peut pas dépasser 50 caractères.
            </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('lastName')?.errors?.pattern">
              Votre nom d’utilisateur ne peut contenir que des lettres et des chiffres.
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="email">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="votre email"
            formControlName="email"
            data-cy="email"
          />

          <div *ngIf="registerForm.get('email')!.invalid && (registerForm.get('email')!.dirty || registerForm.get('email')!.touched)">
            <small class="form-text text-danger" *ngIf="registerForm.get('email')?.errors?.required"> Votre email est obligatoire. </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('email')?.errors?.invalid">Votre email est invalide. </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('email')?.errors?.minlength">
              Votre email doit comporter au moins 5 caractères.
            </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('email')?.errors?.maxlength">
              Votre email ne doit pas dépasser 100 caractères.
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="password">Nouveau mot de passe</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="Nouveau password"
            formControlName="password"
            data-cy="firstPassword"
          />

          <div
            *ngIf="registerForm.get('password')!.invalid && (registerForm.get('password')!.dirty || registerForm.get('password')!.touched)"
          >
            <small class="form-text text-danger" *ngIf="registerForm.get('password')?.errors?.required">
              Votre mot de passe est obligatoire.
            </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('password')?.errors?.minlength">
              Votre mot de passe doit comporter au moins 4 caractères.
            </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('password')?.errors?.maxlength">
              Votre mot de passe ne peut pas dépasser 50 caractères.
            </small>
          </div>

          <jhi-password-strength-bar [passwordToCheck]="registerForm.get('password')!.value"></jhi-password-strength-bar>
        </div>

        <div class="mb-3">
          <label class="form-label" for="confirmPassword"> Confirmer le nouveau mot de passe</label>
          <input
            type="password"
            class="form-control"
            id="confirmPassword"
            name="confirmPassword"
            placeholder="Confirmé le nouveau password"
            formControlName="confirmPassword"
            data-cy="secondPassword"
          />

          <div
            *ngIf="
              registerForm.get('confirmPassword')!.invalid &&
              (registerForm.get('confirmPassword')!.dirty || registerForm.get('confirmPassword')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="registerForm.get('confirmPassword')?.errors?.required">
              Votre confirmation de mot de passe est obligatoire.
            </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('confirmPassword')?.errors?.minlength">
              Votre confirmation de mot de passe doit comporter au moins 4 caractères.
            </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('confirmPassword')?.errors?.maxlength">
              Votre confirmation de mot de passe ne peut pas dépasser 50 caractères.
            </small>
          </div>
        </div>

        <button type="submit" [disabled]="registerForm.invalid" class="btn btn-success" data-cy="submit">S'inscrire</button>
      </form>
    </div>
  </div>
</div>
